/*
 TASKS:

 pick font-family

 add sounds: 
 mysterious music for background music
 sound for button clicks 
 sound for when user wins or when computer wins

javascript:


*/

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    margin: 2em auto;
    font: 1em/1.3 Arial, Helvetica, sans-serif;
    border: 1px solid red;
    text-align: center;
}

body {
    width: 25%;
    margin: 2em auto;
    font: 1em/1.3 Arial, Helvetica, sans-serif;
}



#gamediv {
    color: black;
    border: 1px solid black;
}

/*

*{
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

header {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
}

header video {

  min-width: 100%; 
  min-height: 100%; 

  
  width: auto;
  height: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}



#playerScore p {
    display: inline-block;
}

#computerScore p {
    display: inline-block;
}
