/*
 TO do: 

 center everything in webpage 
 pick a color theme 
 pick background image (if necessary)
 pick font-family

 add sounds: 
 mysterious music for background music
 sound for button clicks 
 sound for when user wins or when computer wins



*/

*{
    padding: 0px;
    margin: 0px;
}

html { 
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#gamediv {
    margin: auto;
    padding: 100px;
    border: 2px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

    
}

#playerScore p {
    display: inline-block;
}

#computerScore p {
    display: inline-block;
}
